trunk/WahooV2Client/HL7Source/Web References/HL7WebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dotnetslackers.com/wse/documentlibrarysample" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.dotnetslackers.com/wse/documentlibrarysample" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dotnetslackers.com/wse/documentlibrarysample">
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="BufferSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storeFile" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverFolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDownloadFilesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="serverFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storeFile" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="endOfFile" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateDirectoryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckExistsDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckExistsDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckExistsDirectoryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlowfishKey">
        <s:complexType />
      </s:element>
      <s:element name="GetBlowfishKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlowfishKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBlowfishKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyBlowfish" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBlowfishKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadBlowfishKeyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpAddress">
        <s:complexType />
      </s:element>
      <s:element name="GetIpAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIpAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetDownloadFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownloadFiles" />
  </wsdl:message>
  <wsdl:message name="GetDownloadFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownloadFilesResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:CreateDirectory" />
  </wsdl:message>
  <wsdl:message name="CreateDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:CreateDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="CheckExistsDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:CheckExistsDirectory" />
  </wsdl:message>
  <wsdl:message name="CheckExistsDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:CheckExistsDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlowfishKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetBlowfishKey" />
  </wsdl:message>
  <wsdl:message name="GetBlowfishKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetBlowfishKeyResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBlowfishKeySoapIn">
    <wsdl:part name="parameters" element="tns:UploadBlowfishKey" />
  </wsdl:message>
  <wsdl:message name="UploadBlowfishKeySoapOut">
    <wsdl:part name="parameters" element="tns:UploadBlowfishKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetIpAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetIpAddress" />
  </wsdl:message>
  <wsdl:message name="GetIpAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetIpAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DownloadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web service provides method,return the array of byte</wsdl:documentation>
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web service provides method,return the number of files in download folder</wsdl:documentation>
      <wsdl:input message="tns:GetDownloadFilesSoapIn" />
      <wsdl:output message="tns:GetDownloadFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web service provides mothedCif upload file successfully .0B</wsdl:documentation>
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web service provides method, create directory</wsdl:documentation>
      <wsdl:input message="tns:CreateDirectorySoapIn" />
      <wsdl:output message="tns:CreateDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckExistsDirectory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web service provides method, check exists directory</wsdl:documentation>
      <wsdl:input message="tns:CheckExistsDirectorySoapIn" />
      <wsdl:output message="tns:CheckExistsDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <wsdl:input message="tns:GetFileSizeSoapIn" />
      <wsdl:output message="tns:GetFileSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlowfishKey">
      <wsdl:input message="tns:GetBlowfishKeySoapIn" />
      <wsdl:output message="tns:GetBlowfishKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBlowfishKey">
      <wsdl:input message="tns:UploadBlowfishKeySoapIn" />
      <wsdl:output message="tns:UploadBlowfishKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIpAddress">
      <wsdl:input message="tns:GetIpAddressSoapIn" />
      <wsdl:output message="tns:GetIpAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadFiles">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetDownloadFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/CreateDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckExistsDirectory">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/CheckExistsDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlowfishKey">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetBlowfishKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBlowfishKey">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/UploadBlowfishKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIpAddress">
      <soap:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetIpAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadFiles">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetDownloadFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/CreateDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckExistsDirectory">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/CheckExistsDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlowfishKey">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetBlowfishKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBlowfishKey">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/UploadBlowfishKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIpAddress">
      <soap12:operation soapAction="http://www.dotnetslackers.com/wse/documentlibrarysample/GetIpAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:51095/WahooWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:51095/WahooWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>